@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --primary-color: #0282f9;
  --dark-color: #303030;
  --darker-color: #1c1c1c;
  --light-color: white;


}

body {
  font-family: 'Open Sans', sans-serif;
}

/*header*/


.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem 4rem 4rem;
  color: white;
}

.logo_header {
  width: 40px;
  padding-top: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;

}

nav ul li a {
  text-decoration: none;
  color: var(--darker-color);
  position: relative;
  padding-bottom: 4.80rem;
  transition: color 0.3s ease;
}

.container img {
  width: 40px;
  height: auto;

}

/*underline hover*/
nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: 5px solid var(--primary-color);

}

/*main*/
.container_main {
  display: flex;
  align-items: center;
  background-color: var(--darker-color);
  color: var(--light-color);
  min-height: 100px;
}

.container_shop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 8rem;
  min-height: 100px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
  margin-bottom: -50px;
  z-index: 2;

}

.img_container {
  display: flex;
  align-items: center;


  img {
    width: 50px;
    padding-right: 1rem;
  }
}

/*footer*/

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
  z-index: 0;
  color: var(--light-color);
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
}

.footer_logo {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.media_container {
  height: 100px;
  background-color: var(--primary-color);
  position: relative;
  margin-top: -50px;
  z-index: 2;
}