@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --primary-color: #0282f9;
  --dark-color: #303030;
  --darker-color: #1c1c1c;
  --accent-color: #737676;
  --light-color: white;



}

body {
  font-family: 'Open Sans', sans-serif;
}

/*header*/


.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem 1rem 4rem;
  color: white;
}

.logo_header {
  width: 70px;

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;

}

nav ul li a {
  text-decoration: none;
  color: var(--darker-color);
  position: relative;
  padding-bottom: 2.25rem;
  transition: color 0.3s ease;
}

.container img {
  width: 40px;
  height: auto;

}

/*underline hover*/
nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: 5px solid var(--primary-color);

}

/*main*/
.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-color);
  color: var(--light-color);
  min-height: 100px;
}

.row {
  padding: 2rem;
  text-align: center;
  margin: auto;
  gap: 3rem;
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.cover_img {
  width: 150px;
  height: 230.766px;
}

.container_shop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 8rem;
  min-height: 100px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
  margin-bottom: -50px;
  z-index: 2;

}

.img_container {
  display: flex;
  align-items: center;


  img {
    width: 50px;
    padding-right: 1rem;
  }
}

/*footer*/

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
  z-index: 0;
  color: var(--light-color);
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
}

.row {
  display: flex;
  justify-content: space-between;

  .col {
    padding: 1rem;
  }


  ul {
    list-style: none;
    padding: 1rem;
    color: var(--accent-color);
    text-align: left;

    h3 {
      color: var(--light-color);
      padding: 0rem 1rem 1rem 0rem;
    }

    li {
      margin-bottom: 5px;
    }
  }
}

.footer_logo {
  width: 200px;
  position: absolute;
  z-index: 1;
}

/*footer media*/
.media_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: var(--dark-color);
  position: relative;
  margin-top: -50px;
  z-index: 2;
}

.signup_btn {
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 4px solid var(--primary-color);
  padding: 1rem;
  font-weight: 500;
}

.Socialmedia_box {
  display: flex;
  align-items: center;
  gap: 1rem;

  h3 {
    color: var(--primary-color);
  }
}